@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* font-family: 'Dancing Script', cursive;  */
   font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}


